.cca-front
{
    z-index: 1;
}

.cca-back
{
    z-index: -1;
}

.cca-relative
{
    position: relative;
}

.cca-expand
{
    width: 100%;
    height: 100%;
}

.cca-expand-force-y
{
    width: 100%;
    min-height: 100vh;
}

.cca-center-mono
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cca-column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cca-column-l
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cca-column-t
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cca-row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cca-row-l
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cca-gap
{
    margin: 12px;
}

.cca-gap-y
{
    margin-top: 12px;
    margin-bottom: 12px;
}

.cca-gap-x
{
    margin-left: 12px;
    margin-right: 12px;
}