.f-field-group-radius{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.f-field-group-radius span{
    font-size: var(--smail);
    font-weight: bold;
    margin: 6px 0;
}

.f-field-group-radius input{
    width: 100%;
    height: 43px;
    color: var(--dark-1);
    border: 3px solid var(--secondary-0);
    border-radius: 8px;
    padding: 6px 24px;
    background-color: var(--secondary-1);
}

.f-field-group-radius input:focus{
    border-color: transparent;
    box-shadow: 0 0 8px -2px var(--primary);
    animation: f-field-group-radius .1s ease-in-out forwards;
}

@keyframes f-field-group-radius {
    0%,100%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-6px);
    }
}