.i-front
{
    z-index: 1;
}

.i-back
{
    z-index: -1;
}

.i-fit-cover
{
    object-fit: cover;
}

.i-unDisplay
{
    display: none;
}

.i-relative
{
    position: relative;
}

.i-split
{
    overflow: hidden;
}

.i-expand
{
    width: 100%;
    height: 100%;
}

.i-expand-x
{
    width: 100%;
}

.i-expand-x-yForce
{
    width: 100%;
    min-height: 100vh;
}

.i-expand-force-y
{
    min-height: 100vh;
}

.i-expand-x-max-1280px
{
    max-width: 1280px;
}

.i-expand-x-max-600px
{
    max-width: 600px;
}

.i-expand-x-max-300px
{
    max-width: 300px;
}

.i-expand-300px
{
    width: 300px;
    height: 300px;
}

.i-expand-x-300px
{
    width: 300px;
}

.i-column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.i-column-l
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.i-column-t
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.i-row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.i-row-wrap
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.i-row-l
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.i-gap
{
    margin: 12px;
}

.i-gap-l
{
    margin-left: 12px;
}

.i-gap-r
{
    margin-right: 12px;
}

.i-gap-t
{
    margin-top: 12px;
}

.i-gap-b
{
    margin-bottom: 12px;
}

.i-gap-y
{
    margin-top: 12px;
    margin-bottom: 12px;
}

.i-gap-x
{
    margin-left: 12px;
    margin-right: 12px;
}

.i-gap-min {
    margin: 6px;
}

.i-gap-min-x
{
    margin-left: 6px;
    margin-right: 6px;
}

.i-gap-min-y
{
    margin-top: 6px;
    margin-bottom: 6px;
}

.i-gap-min-l
{
    margin-left: 6px;
}

.i-gap-min-r
{
    margin-right: 6px;
}

.i-gap-min-t
{
    margin-top: 6px;
}

.i-gap-min-b
{
    margin-bottom: 6px;
}

.i-gap-24px
{
    margin: 24px;
}

.i-gap-x-24px
{
    margin-left: 24px;
    margin-right: 24px;
}

.i-gap-y-24px
{
    margin-top: 24px;
    margin-bottom: 24px;
}

.i-gap-l-24px
{  
    margin-left: 24px;
}

.i-gap-r-24px
{
    margin-right: 24px;
}

.i-gap-t-24px
{
    margin-top: 24px;
}

.i-gap-b-24px
{
    margin-bottom: 24px;
}

.i-gap-50px
{
    margin: 50px;
}

.i-gap-x-50px
{
    margin-left: 50px;
    margin-right: 50px;
}

.i-gap-y-50px
{
    margin-top: 50px;
    margin-bottom: 50px;
}

.i-gap-l-50px
{  
    margin-left: 50px;
}

.i-gap-r-50px
{
    margin-right: 50px;
}

.i-gap-t-50px
{
    margin-top: 50px;
}

.i-gap-b-50px
{
    margin-bottom: 50px;
}

.i-gap-100px
{
    margin: 100px;
}

.i-gap-x-100px
{
    margin-left: 100px;
    margin-right: 100px;
}

.i-gap-y-100px
{
    margin-top: 100px;
    margin-bottom: 100px;
}

.i-gap-l-100px
{  
    margin-left: 100px;
}

.i-gap-r-100px
{
    margin-right: 100px;
}

.i-gap-t-100px
{
    margin-top: 100px;
}

.i-gap-b-100px
{
    margin-bottom: 100px;
}

.i-pointer
{
    cursor: pointer;
}

.i-smooth
{
    transition: all .5s;
}

.i-smooth-slap
{
    transition: all .2s .1s;
}

.i-title-big-35px
{
    font-weight: 900;
    font-size: 35px;
}

.i-title-big-35px-center
{
    font-weight: 900;
    font-size: 35px;
    text-align: center;
}

.i-padding
{
    padding: 12px;
}

.i-padding-x
{
    padding-left: 12px;
    padding-right: 12px;
}

.i-padding-y
{
    padding-top: 12px;
    padding-bottom: 12px;
}

.i-padding-l
{
    padding-left: 12px;
}

.i-padding-r
{
    padding-right: 12px;
}

.i-padding-t
{
    padding-top: 12px;
}

.i-padding-b
{
    padding-bottom: 12px;
}

.i-padding-24px
{
    padding: 24px;
}

.i-padding-x-24px
{
    padding-left: 24px;
    padding-right: 24px;
}

.i-padding-y-24px
{
    padding-top: 24px;
    padding-bottom: 24px;
}

.i-padding-l-24px
{
    padding-left: 24px;
}

.i-padding-r-24px
{
    padding-right: 24px;
}

.i-padding-t-24px
{
    padding-top: 24px;
}

.i-padding-b-24px
{
    padding-bottom: 24px;
}

.i-setBg-primary
{
    background-color: var(--bg-primary);
}

.i-setBg-secondary
{
    background-color: var(--bg-secondary);
}

.i-setPrimary-bg
{
    background-color: var(--primary);
}

.i-setSecondary-bg
{
    background-color: var(--secondary);
}

.i-setC-primary
{
    color: var(--primary);
}

.i-setC-secondary
{
    color: var(--secondary);
}

.i-setPrimary-c
{
    color: var(--bg-primary);
}

.i-setSecondary-c
{
    color: var(--bg-secondary);
}

.i-setBg-default
{
    background-color: var(--default);
}

.i-setC-default
{
    color: var(--default);
}

.i-setBg-neltral
{
    background-color: var(--neltral);
}

.i-setC-neltral
{
    color: var(--neltral);
}

.i-bold
{
    font-weight: bold;
}

.i-light
{
    font-weight: 300;
}

.i-regular
{
    font-weight: 400;
}

.i-medium
{
    font-weight: 500;
}

.i-font-center
{
    text-align:center;
}

.i-big
{
    font-weight: 900;
}

.i-title-big-40px
{
    font-weight: 900;
    font-size: 40px;
}

.i-title-big-35px
{
    font-weight: 900;
    font-size: 35px;
}

.i-title-big-30px
{
    font-weight: 900;
    font-size: 30px;
}

.i-title-big-25px
{
    font-weight: 900;
    font-size: 25px;
}

.i-font-24px
{
    font-size: 24px;
}

.i-font-20px
{
    font-size: 20px;
}

.i-font-18px
{
    font-size: 18px;
}

.i-font-16px
{
    font-size: 16px;
}

.i-front-12px
{
    font-size: 12px;
}

.i-size-18px
{
    width: 18px;
    height: 18px;
}

.i-size-22px
{
    width: 22px;
    height: 22px;
}

.i-size-25px
{
    width: 25px;
    height: 25px;
}

.i-size-30px
{
    width: 30px;
    height: 30px;
}

.i-size-50px
{
    width: 50px;
    height: 50px;
}

.i-size-80px
{
    width: 80px;
    height: 80px;
}

.i-size-150px
{
    width: 150px;
    height: 150px;
}

.i-radius-min {   
    border-radius: 6px;
}

.i-radius-b-r-min
{
    border-bottom-right-radius: 6px;
}

.i-radius-t-r-min
{
    border-top-right-radius: 6px;
}

.i-radius-b-l-min
{
    border-bottom-left-radius: 6px;
}

.i-radius-t-l-min
{
    border-top-left-radius: 6px;
}

.i-radius
{
    border-radius: 12px;
}

.i-radius-b-r
{
    border-bottom-right-radius: 12px;
}

.i-radius-t-r
{
    border-top-right-radius: 12px;
}

.i-radius-b-l
{
    border-bottom-left-radius: 12px;
}

.i-radius-t-l
{
    border-top-left-radius: 12px;
}

.i-radius-16px
{
    border-radius: 16px;
}

.i-radius-b-r-16px
{
    border-bottom-right-radius: 16px;
}

.i-radius-t-r-16px
{
    border-top-right-radius: 16px;
}

.i-radius-b-l-16px
{
    border-bottom-left-radius: 16px;
}

.i-radius-t-l-16px
{
    border-top-left-radius: 16px;
}


.i-border
{
    border: 1px solid var(--neltral);
}

.i-border-l
{
    border-left: 1px solid var(--neltral);
}

.i-border-r
{
    border-right: 1px solid var(--neltral);
}

.i-border-t
{
    border-top: 1px solid var(--neltral);
}

.i-border-b
{
    border-bottom: 1px solid var(--neltral);
}





/* forms */
.i-field-group-simple
{
     width: 100%;
     height: 50px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     border-radius: 1px;
     border-bottom: 3px solid var(--neltral);
     background-color: var(--bg-secondary);
     padding: 3px 12px ;
     margin: 12px 0;

}
    .i-field-group-simple label
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .i-field-group-simple input
    {
        width: 100%;
        height: 0;
        font-weight: bold;
        background-color: transparent;
        transition: .2s .1s ease-in-out;
    }
    .i-field-group-simple input:focus,
    .i-field-group-simple input:valid
    {
        height: 100%;
    }






/* buttons */
.i-button-simple
{
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--secondary);
    border-radius: 1 px;
    background-color: var(--primary);
    padding: 3px 24px;
    cursor: pointer;
    transition: all .2s .1s ease-in-out;
}
    .i-button-simple:hover
    {
        opacity: .90;
    }
    .i-button-simple:active
    {
        opacity: .05;
        transform: scale(0.50);
    }
